body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

input, label, button {
  margin-top: 20px;
}

input {
  line-height: 1.4;
  height: auto;
  padding-left: 10px;
}

button {
  line-height: 1.4;
  margin: 0 10px;
  padding: 0 10px;
}

label {
  padding: 0 10px;
}
